# SPDX-FileCopyrightText: 2026 E-Control Systems
#
# SPDX-License-Identifier: Apache-2.0

[submodule "external/esp-serial-flasher"]
	path = external/esp-serial-flasher
	url = https://github.com/espressif/esp-serial-flasher.git
